{% extends '::base.html.twig' %}

{% set page = 'login'%}

{% block stylesheets %}
	<link href="{{ asset('jda/css/authorization.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
		{% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        <div id="authorization-content">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock content %}