<html>
<head>
    <title>Export Seeds</title>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var lastExport = "{{ lastExport }}";
        $("document").ready(function () {
            $("#submitBtn").val($("#submitBtn").val() + lastExport);
            $("#submitBtn").click(function () {
                getResultsByPage(1);
            });
        });

        function getResultsByPage(pageNum) {
            $.ajax({
                url: "http://jdarchive.org/zeega/api/items/search?&type=Website&sort=relevant&limit=500&page=" + pageNum + "&published=1",
                dataType: "json",
                type: "GET",
                success: function (r) {
                    $("#resultsDiv").html(r["items_count"]);
                }
            });
        }
    </script>
</head>
    <body>
        <input type="button" id="submitBtn" value="Export Seeds created after " />
        <div id="resultsDiv"></div>
    </body>
</html>