<html>
  <head>
    <title>Export Seeds</title>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
  </head>
  <body>
    <div>
      The last seed exported was {{lastExport}}. To export all newer seeds,
      click below. Note: If this number is 0, that means the file containing
      the last exported seed has gone missing. See wiki for how to fix.
    </div>
    <a href="/exported/">Export Seeds</a>
  </body>
</html>
