{# src/JDA/CoreBundle/Resources/views/User/user.html.twig #}

{% extends 'JDACoreBundle:Search:search.html.twig' %}

{% block filter %}


	<script>
			sessionStorage.setItem('filterType','user');
			sessionStorage.setItem('filterId', {{ filterId }});
	
	</script>
	
	    
		<div class="row-fluid">
			<div id="jda-user-filter" class="span9"></div>
		</div>

{% endblock %}
