{% extends "ZeegaUserBundle::layout.html.twig" %}

{% block header %}
					{{displayname}}, {% trans %}jda.login.confirm{% endtrans %} 
					<script>
							sessionStorage.setItem('user',{{ id }});
							parent.$("#user-displayname").html('<i class="zicon-user"></i>{{displayname}}<b class="caret"></b>');
							parent.$("#user-modal").trigger("authenticated");
							parent.$("#user-modal-close").trigger("click");
					</script>			
{% endblock header %}

{% block fos_user_content %}
	<a id="close-button" class="btn" href="#" onclick="javascript: parent.$('#user-modal').trigger('close');">Close</a>	
{% endblock fos_user_content %}
