{% extends "ZeegaUserBundle::layout.html.twig" %}



{% block header %}
		{% if header is defined %}
					{% if header == "collection"%}
						{% trans %}jda.login.savecollection{% endtrans %} 
					{% endif %} 
				{% endif %} 
				{% trans %}jda.login.header{% endtrans %} 
				<a href="{{path('fos_user_registration_register', { '_locale': locale })}}">{% trans %}jda.login.register{% endtrans %}</a>
{% endblock header %}


{% block fos_user_content %}
	{% include "ZeegaUserBundle:Security:login_content.html.twig" %}
{% endblock fos_user_content %}


