
{% block fos_user_content %}		
				
				<form action="{{ path("fos_user_security_check") }}" method="post">
					<div class="box">
				    	<label for="username">{% trans %}jda.login.username{% endtrans %}
					    <input tabindex="1" type="text" id="username" name="_username" value="{{ last_username }}" class="input_text" /></label>
					    <label for="password">{% trans %}jda.login.password{% endtrans %} <a style="font-size: 9px; padding-left: 85px;" href="{{path('fos_user_resetting_request', { '_locale': locale})}}" >{% trans %}jda.login.forgot{% endtrans %}</a>
					    <input  tabindex="2" type="password" id="password" name="_password" class="input_text" /></label>
				    	<input tabindex="3"  class="btn" type="submit" id="_submit" name="_submit" value="{% trans %}jda.login.button{% endtrans %}" class="login-button"/>
						<br>	
						{% if error %}
	       					<div class="error" style="width:200px; text-align:right; color:red; font-weight:bold">{{ error.message }}</div>
	    				{% endif %}
	    				<br>
					</div>
				</form>
				
				<script type="text/javascript" language="javascript">
               		document.getElementById("username").focus();
          		</script>

{% endblock fos_user_content %}
