{% extends "ZeegaUserBundle::layout.html.twig" %}



{% block header %}
		{% if header is defined %}
					{% if header == "collection"%}
						{% trans %}jda.login.savecollection{% endtrans %} 
					{% endif %} 
				{% endif %}
 
				{% if locale == 'ja' %}
					<img style="margin-left:200px; width: 120px; margin-bottom: 20px;" src="{{ asset('images/logo-jp.png')}}">
				{% else %}
					<img style="margin-left:200px; width: 120px; margin-bottom: 20px;" src="{{ asset('images/logo.png')}}">
				{% endif %}
				
				<br>	
				<span style="padding-left: 75px;">{% trans %}jda.login.header{% endtrans %}</span>
				<span style="padding-left: 120px;">{% trans %}jda.register.title{% endtrans %}</span> 
				
{% endblock header %}


{% block fos_user_content %}
	{% include "ZeegaUserBundle:Security:login_content.html.twig" %}
{% endblock fos_user_content %}


