#authorization-content
{
	padding-top:100px;
	padding-left: 140px;
}

input
{
	display:block;
}

label
{
	display:block;
}

input[type="submit"] {
	margin-top: 10px;
	height: 25px;
	width: 85px;
	float: left;
	font-size: 11px;
	background-color: #50B456;
	color: white;
}

/* LOGIN */

.login-modal-background
{
	background-color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	filter: alpha(opacity = 80);
	-khtml-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
	z-index: 10000;
}

.login-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 11000;
	max-height: 500px;
	overflow: auto;
	width: 620px;
	margin: -240px 0 0 -280px;
	background-color: white;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.login-modal-header {
	padding: 20px 0px 0px 30px;
	border: none;
}

.login-modal-body {
	padding: 10px 30px 20px 30px;
}


h1
{
	font-size: 20px;
	font-weight: bold;
	margin: 0px;
	padding:0px;
	line-height: 20px;
	color: #000000;
}

h2
{
	font-size: 16px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	color: #000000;
	text-transform:uppercase;
}


h3
{
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	color: #000000;
}

.login-button {
	height: 55px;
	width: 85px;
	float: left;
	font-size: 11px;
	background-color: #50B456;
	color: white;
	text-transform:uppercase;
}

#login-text
{
	font-size: 10pt;
	padding-right: 20px;
	
}

A:link 
{
    text-decoration: underline
}
