@CHARSET "ISO-8859-1";

/*************************************

		THIS STYLESHEET HAS JDA-SPECIFIC STUFF. 
		IT SERVES AS A CATCH-ALL FOR CSS THAT DOESN'T FIT ELSEWHERE AND PROBABLY
		WON'T BE REUSED IN THE ZEEGA MAIN PROJECT.
		
**************************************/

/*************************************

		ICONS
		
**************************************/

#home-facebook-button{
	background-image: url(../images/facebooklogo.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	float:right;
	display:inline-block;
	height:40px;
	width:40px;
	margin-right:20px;
	border:none;
}

#home-twitter-button{
	background-image: url(../images/twitterlogo.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	float:right;
	display:inline-block;
	height:40px;
	width:40px;
	margin-right:20px;
	border:none;
}

#home-tumblr-button{
	background-image: url(../images/tumblrlogo.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	float:right;
	display:inline-block;
	height:40px;
	width:40px;
	margin-right:20px;
	border:none;
}


[class^="jdicon-"]
{
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: text-top;
	background-image: url(../images/jdicons-darkgrey-50.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	float:left;
	margin-right:5px;
}

[class^="homeicon-"]
{
	display: inline-block;
	width: 40px;
	height: 35px;
	vertical-align: text-top;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	float:left;
	margin-right:60px;
	margin-top:5px;
}


.jdicon-lightgrey{
	background-image: url(../images/jdicons-lightgrey-50.png);
}
.jdicon-halfling-red{
	background-image: url(../images/glyphicons-halflings-red.png);
}
[class^="jdicon-small-"]
{
	width: 25px;
	height: 25px;
	background-size: 306px 164px;
}
.jdicon-image{background-position:0 0}
.jdicon-email{background-position:-50px 0}
.jdicon-website{background-position:-100px 0}
.jdicon-audio{background-position:-350px -100px}
.jdicon-tweet{background-position:-150px 0}
.jdicon-facebook{background-position:-200px 0}
.jdicon-map{background-position:-250px 0}
.jdicon-collection{background-position:-199px -100px}
.jdicon-document{background-position:-300px 0px}
.jdicon-date{background-position:-0px -50px}
.jdicon-video{background-position:-400px 0}
.jdicon-article{background-position:-450px 0}
.jdicon-pdf{background-position:-350px -50px}
.jdicon-text{background-position:-200px -200px}
.jdicon-testimonial{background-position:-199px -200px}
.jdicon-layers{background-position:-250px -200px}
.jdicon-drag{background-position:-300px -200px}
.jdicon-play{background-position:-350px -200px}

.jdicon-small-facebook{background-position:-100px 0}
.jdicon-small-tweet{background-position:-75px 0}
.jdicon-small-layers{background-position:-125px -100px}
.jdicon-small-list{background-position:-125px -25px}
.jdicon-small-world{background-position:-0px -50px}
.jdicon-small-document{background-position:-150px -0px}
.jdicon-small-play{background-position:-175px -100px}
.jdicon-small-drag{
	background-position:-150px -100px;
	position: absolute;
	top: 1px;
	left: 1px;
	display:none;
	background-color: rgba(255, 255, 255, 0.8);

}




.jda-icon-twitter{

	background-image: url(../images/jdicons-tweet-large.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 53px;
	height: 54px;
	position: absolute;
	top: 15%;
	left: 15%;

}

.jda-icon-testimonial{

	background-image: url(../images/jdicons-testimonial-large.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 90px;
	height: 66px;
	position: absolute;
	top: 20%;

}

.jda-centered-icon{
	position: absolute;top: 35px;left: 55px;
}

.jda-home-button{
	margin-left: 30px;
	background-color: #A60032;
	padding: 7px 35px;
	font-size: 22px;
	line-height: 30px;
	background-image: none;
	border: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #ffffff;
	display: inline-block;
}

.jda-home-button:hover{
	color:#ffffff;
	text-decoration:none;
	background-color: #E60045;
}

li{
	list-style:none;
}
header .container{
	/*width:98% !important;*/
	min-width:1000px;
}
/* overriding bootstrap z-index for fancybox */
.navbar-fixed-top, .navbar-fixed-bottom {
	z-index:1001 !important;
}

.navbar .brand {
	padding: 8px 30px 6px 17px;
	height:30px;

}
#jda-main-nav {
	font-size:1.2em;
}
#jda-related-tags{
	margin-top:20px;
	height:300px;
	line-height: 25px;
	float:left;
	text-align:left;
}
#jda-related-tags h3{
	font-variant: small-caps;
	border-bottom: solid 1px #999;
	margin-bottom: 10px;

}
header .navbar .btn-group {
	margin-top:10px;
}
#jda-results-main-content {
	position: relative;
	top: 114px;
}
#jda-main-content{
	margin-top:20px;
}
.jda-item-date{
	font-size:11px;	
}

.jda-high-top{
	top:0;
	position:absolute
}
.jda-low-top{
	top:320px;
	position:relative;
	width:auto;
}
tr{
	background-color:white;
	
}
#jda-create-account-results{
	display:none;
}
#jda-create-account-results input{
	height: 150px;
	margin-left: 30px;
	font-weight: bold;
}
#menu-thumbnails li{
	position:relative;
}
#menu-thumbnails .btn-group{
	position:absolute;
	left: 137px;
	top: 95px;
}
.thumbnail-selected{
	border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
legend{
	font-size:16px;
	font-weight:bold;
}
.jda-play-collection{
	position: absolute; top: -142px;left: 6px; opacity: 0.7;
}
.thumbnails > li {
	position:relative;
	margin-left:20px;
}
.thumbnails {
margin-left: -20px;
}
.jda-delete-item{
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);position: absolute;
	top: 4px;
	left: 3px;
	display:none;

}
#logo{
	width:110px;
}
.VS-search .VS-search-box {
	-webkit-border-radius:6px !important;
	width:660px;
	background-color:white !important;
	border: 1px solid #CCC !important;
	padding:4px;
}
.VS-search .VS-icon-search, .VS-search .VS-cancel-search-box {
	top: 12px !important;
}
#remove-tag-alert {
	font-size: 11px;
	background-color: 
	#FFFC7F;
	position: absolute;
	top: 11px;
	left: 180px;
	padding: 3px 5px;
	display: none;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid 
	transparent;
	border-right: 5px solid 
	transparent;
	border-top: 5px solid 
	#999;
	position: absolute;
	top: 14px;
	left: 130px;
}

#loading{
	
	position:fixed;
	top:400px;
	left:40%;
	text-align: center;
	

}
#spinner-text{
	margin-top: 20px;
	color:#666;
	display: none;
}
#jda-collection-filter-new{

	/*position: fixed;
	z-index:50;
	top:94px;
	background:white;
	*/

}
#jda-user-filter
{
	/*
	position: fixed;
	top:87px;
	padding-top:10px;
	z-index:49;
	overflow: hidden;
	background:white;
	*/
}

.jda-user-link.bottom{  	
	position:absolute;
	bottom:0px;
}

#jda-collection-editing-toolbar{
	display:none;
	clear:both;margin-bottom:8px;
}
.jda-item-checkbox{
	position:absolute;top: 5px;position: absolute;right: 5px;
	display:none;
}
.jda-separate-collections-and-items{
	margin-top:10px;
}

.jda-no-geo-location-message{
	position: relative;
	top: 56px;display:none;color:#666
}
.jda-no-geo-info{
	background: url("../images/nogeomap.gif") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.jda-edit-btn {
	display:none;

}

.login {

	height:450px;
	width: 550px;
	border: none;
	overflow: hidden;

}

.login-column {
	width: 50%;
	position: absolute;
}

#rightlogin {
	border-left:2px solid #000000;
	padding: 20px 0px 0px 30px;
}

.jda-item-icon{
	min-width:60px;
}
.jda-item-image{
	min-width:100px;
	width:100%;
}
.jda-thumbnail-caption{
	padding-top:3px;
}
.jda-editable{
	border:1px dotted #ccc;
}
.jda-more{
	display:none;
}
.jda-document-thumbnail{
	-webkit-box-shadow: 1px 1px 5px 1px #AAA;
	box-shadow: 1px 1px 5px 1px #AAA;

	padding: 1px;
	border: 1px #444 solid;
	width: 60% !important;
	height: 95% !important;
}
.jda-video-playbutton{
	
	border-color:transparent transparent transparent #FFFFFF;
	border-style:solid;
	border-width:8px 0 8px 12px;
	float:left;
	height:0;
	text-indent:-9999px;
	width:0;

}
/********************

	HOME PAGE STYLES
	
*********************/

.jda-home-featured-collection-text-block{
	cursor:pointer;
	padding: 10px;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: 80%;
	background: 
	rgba(255, 255, 255, 0.7);

}
.jda-home-featured-collection
{
	vertical-align:top;
	background-position:center;
	/*display:inline-block;*/
	float:left;
	height:33%;
	width:33%;
	border-right:2px solid white;
	background-repeat:no-repeat;
	background-size:cover;
	position: relative;
}
.jda-home-bottom-row{
background-color:#444;position:relative;top:76px;color:whiteSmoke;padding-top:10px;
}
.jda-home-bottom-row a{
	color:whiteSmoke;
}
.jda-home-bottom-row h3{
	font-weight:normal;
	font-size:22px;
}
.jda-home-bottom-row i{
	margin-right:8px;
}
.jda-home-teaser-text{
	color:#ccc;
	font-weight:normal;
	padding:10px;
	width:60%;
	margin-right:30px;
}

#intro-nav{
	margin-top: 5%;
	padding-bottom: 260px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	
}

.home-button-text{
	display: inline-block;
	padding: 0px 10px 10px 5px;
}

.home-button{
	display: inline-block;
	float: left;
	outline: none;
	cursor: pointer;
	width: 25%;
	margin-right: 40px;
	margin-left:40px;
	color: #ffffff;
}

.home-button:hover{
	opacity: 0.8;
    filter: alpha(opacity=80);
}


footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: 
	#ccc;
	box-shadow: inset 0px 6px 6px 
	#AAA;
	margin-top:24px;
	padding-top:20px;
}
footer ul, footer h3{
	list-style:none;
	margin:30px auto;
	width:80%;
}
footer li{
	float:left;
	width:150px;
	height:100px;
	padding:10px;
	opacity: 0.7;
	text-align: center;
}
footer li:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}
footer img{
	max-width:150px;
	max-height:100px;
	margin:auto 0;
}
/********************

	ABOUT PAGE STYLES
	
*********************/
#jda-about-container{
	line-height:25px;
	text-align:justify;
}
#jda-about-mission{
	width:65%;
	margin-right:100px;
	float:left;

	
}
#jda-about-mission div{
	height:50px;
	clear:both;
}

#instructional {
	margin-bottom:50px;
}

#instructional p{
	margin: 10px 10px;
}

#instructional h4{
	margin-top: 10px;
}

#instructional img{
	margin-bottom: 20px;
}
/********************

	OPEN LAYERS MAP
	
*********************/

.olControlOverviewMapElement
{
	background-color:rgba(0,0,0,0.75);
	border-radius:6px;
}
/* OVERRIDING STYLES FROM OPEN LAYERS */
.olFramedCloudPopupContent {
	padding: 0 !important;
	overflow: auto;
	width: 100% !important;
	background-color: white;
	left: 0px !important;
	height: 99% !important;
	top: inherit !important;
	border: 1px #CCC solid;
	border-radius: 6px;
}
.olPopupCloseBox {
background: url("img/close.gif") no-repeat;
cursor: pointer;
top: 1px !important;
right: 1px !important;
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-radius: 0px 4px 0px 0px;
border-radius: 0px 4px 0px 0px;
}
.olControlZoomPanel div {
	background-image: url(../images/zoom-control.png) !important;
}
/**************************************

	event view & map popup

**************************************/

#map-popup{
	padding:-65px;
}
#zeega-event-view{
	position: fixed !important;
	overflow: hidden;
	left: 0;
	top: 87px;
}
#layer-legend{
	overflow: scroll;
	height : 700px;
}

#layer-control-drawer{
	display : inline-block;
	z-index: 1004 !important;  
	position : absolute;
	right : -50px;
	top : 100px;
	height:100%
}



.legend-entry{
	border-bottom : 1px solid #999;
}
.legend-entry p{
	padding-bottom: :0px;
	padding-top: 10px;
}

#layer-control{
	z-index:-1;
	display : inline-block;
	width : 200px;
	height : 100%;
	padding-right:25px;
}

#layer-checkboxes{
	overflow-y:scroll;
	height:67%;
}

#layer-control>ul{
	margin-left : -55px;
	padding-left : 55px;
	margin-right : -50px;
}

#layer-control-drawer-tab{
	display : inline-block;
	vertical-align : top;
	margin-top : 5px;
	cursor : pointer;
	z-index:200 !important;
}

.ui-tabs .ui-tabs-nav li a {
	padding-top : 3px;
	padding-bottom : 3px;
}
.map-popup-list-items{
	padding:5px;
	min-height:50px;
	min-width: 300px;
	clear:both;
	cursor:pointer;
}

.map-popup-list-items:hover{
	background-color:rgba(0,0,0,.15);
}

.map-popup-icon-container{
	padding-right:5px;
}

.map-popup-tweet-icon{
	width: 50px;
	height: 50px;
	background-image:url("../images/jdicons-tweet-large.png");
	background-size:cover;
}


.map-popup-list-items>div{
	margin-left: 5px;
}
.discovery-map-list {
	margin: 0;
	list-style: none;
	max-height: 100%;
	max-width:300px;
}
/**********************************
 	TIME SLIDER
***********************************/

.time-slider-wrapper{z-index:1000;position:absolute;width:100%;height:46px;background:rgba(0,0,0,0.4);}


#range-slider{
	
	top: 6px;
	margin-left: 183px !important;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.5) !important;
	background-image: none !important;
}

.date-time-block{
	
}

.date-time-block>input{
	font-size: 12px;
	margin : 1px;
	text-align: center;
	padding : 1px;
	border : 1px solid #CCC;
}

#start-time, #end-time{
	width : 55px;
}

#start-date, #end-date{
	width : 95px;
}

#event-time-slider{
	left: 192px;
	z-index: 2000;
	position: absolute;
	
	width: 672px;
	top:10px;

}
#event-time-slider input{
	border: none;
	color: whiteSmoke;
	background-color: rgba(0, 0, 0, 0.5);
}


.jda-map-loader {
	width: 80px;
	height: 16px;
	background-size: 80px 16px;
	background-image: url("../images/map-loader.gif");
	background-repeat:no-repeat;
	margin-top:15px;
	padding-right:15px;
}

/**********************************
	END TIME SLIDER
***********************************/
#jda-search-advancedoptions {
    width: 120px;
    position:absolute;
    margin-left: 15px;
    margin-top: 10px;
    overflow: hidden;
    color:#999;
    text-decoration: underline;
}

.list-fancymedia {
	cursor:pointer;

}


/**********************************
	ITEM PAGE
***********************************/

.jda-item-map-container{

	width:250px;
	height:150px;
	background-color:gray;
	text-align:center;
	background-image: url(../images/nogeomap.gif);


}
#jda-item-website iframe{
	width: 181%;
	height : 1000px;
	border:1px solid #ccc;
	zoom: 0.55;
 	-moz-transform: scale(0.55);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.55);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.55);
	-webkit-transform-origin: 0 0;
}
.jda-item-container{

	width:600px;
	text-align:center;
	padding:5px;

}

.zeega-list-middle-column li{

	cursor:pointer;

}

.zeega-list-middle-column li:hover{

	color:#08c;
}

/**********************************
	END ITEM PAGE
***********************************/



.user-image-upload
{
	margin:10px 0;
}

.jda-collection-map-location {

	margin-top:5px;
	float:left;
	width: 167px;
	height: 18px;


}

/***************
    FORMS
 ***************/

.main_form_div {
    padding: 50px 15% 50px 15%;
}

.main_form_table th, td {
    padding: 5px;
    text-align:left;
}

.main_form_table th {
    font-weight: bold;
}

.form_required {
    color: red;
}

.main_form_table input[type=text] {
    width: 350px;
}

.main_form_table textarea {
    width: 350px;
    height: 100px;
}

#map_canvas {
    margin: 8px 0;
    background-color: #E5E3DF;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 520px;
}

.error {
    color: red;
}

.container{
	min-width:1000px;
}
/**********************
    END FORMS
***********************/
