!.modal{
	display:none;
}
#zeega-view-navigation{
	
	background-color: #444;
	padding: 4px 0;
	z-index: 50;
	position: fixed;
	top: 43px;
	width: 100%;
	min-width: 900px;
}

#home-view-navigation{
	
	background-color: #ffffff;
	z-index: 50;
	position: absolute;
	height: 0px;
	top: 50px;
	width: 100%;
	min-width: 900px;
}

#jda-home-search-div{
	margin-top: 5%;
	margin-bottom: 50px;
}

#zeega-view-buttons{
	width: 108px;
	float: left;
	margin-right: 31px;
	margin-top: 5px;
}
#zeega-view-navigation li{
	padding:10px;
	float:left;
}
#zeega-view-navigation form{
	border:none;
	margin:0;
	background-color:transparent;
}
#zeega-search-help{
	position: relative;
	left: 5px;
	background-color:#000;
}

#zeega-main-content
{
	position:relative;
	top:50px;
	margin: 0 20px;
}
#zeega-left-column{
	/*this width gets set programmatically in search.ux.js file */
	min-width:640px;
	position: relative;
}
#zeega-right-column{
	/* this position gets set programmatically in search.ux.js file and thereafter
	in various filters */
	position: fixed;
	left: -webkit-calc(95% - 200px);
	top: 115px;
}
.zeega-left-column-really-low{
	top:222px !important;
}
.zeega-right-column-user-page{
	top:300px !important;
}
.zeega-right-column-low{
	top: 435px !important;
}
.zeega-right-column-really-low{
	top: 483px !important;
}
#zeega-list-view li{
	list-style:none;
}
#zeega-list-view td{
	position:relative;
}
#zeega-list-view .zeega-list-left-column{
	width:100px;
}
#zeega-list-view .zeega-list-middle-column{
	width:-webkit-calc(100% -  220px);
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	word-break:break-all;
	display: block;
	overflow: hidden;
}
#zeega-list-view .zeega-list-right-column{
	width:115px;
}
#zeega-my-collections{
	
	position: fixed;
	top: 94px;
	padding-top:6px;
	right:20px;
	width: 200px;
	text-align: center;
	border-radius: 4px;
	margin-bottom:30px;
	z-index:100;
}

#zeega-my-collections-spinner{
	
	position: absolute;
	z-index: 2;
	left: 100px;
	top: 82px;
}
#zeega-my-collections-active-collection
{
	width: 165px;
	height:39px;
	font-weight: bold;
	font-size: 14px;
	border-radius:0;
}

#zeega-my-collections-items
{
	clear:both;
	border: 1px solid #AAA;
	border-radius: 0 0 4px 4px;
	padding:2px;
	background-color: #ddd;
	-webkit-transition: background .25s linear;
	transition: background .25 linear;
}
.zeega-my-collections-items-dropping{
	background-color:#F0E68C !important;

}
#zeega-my-collections-items a.thumbnail{
	margin:0 auto;
	position:relative;
	/*width: 120px;
	position: relative;
	left: 30px;*/
}
#zeega-my-collections-items p:hover{
	outline: 1px dotted #08C;
	background-color:#eee;
}

#zeega-my-collections p{
	color:#666;
	padding:14px;
	font-size:0.9em;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
#zeega-my-collections-items-thumbs{
	padding-top:5px;
	padding-bottom:5px;
}
#zeega-my-collections-added{
	display:none;
	margin-bottom:10px;
}
#zeega-my-collections-share-and-organize{
	padding:10px;
}
#zeega-results-count{
	font-size: 18px;
	margin-bottom:20px;
	position: relative;
	top: 13px;
	z-index: 0;
	left:0;
}
.zeega-results-count-event {
	font-size: 12px !important;
	width: 160px !important;
	position: absolute !important;
	color: whiteSmoke !important;
	top: -13px !important;
	z-index:2001 !important;
}
#zeega-results-count-text-with-date{
	display:none;
}
/* SEARCH RELATED STYLES */
#search-bar{
	
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	padding: 0 !important;
	margin: 0 auto;
}

#search-bar h5
{
	line-height:18px;
	height:44px;
	color:rgba(255,255,255,0.85);
}
#search-bar select{
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	width:150px;
}
#search-bar option{
	
}
#select-wrap {

	height: 36px;
	position: absolute;
	top: 6px;
	left: 630px;
	font-size: 1.2em;
	font-weight: bold;
	color: #999;
	width: 150px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	font-variant: small-caps;
	font-family:Arial,sans-serif;
}
#select-wrap-text{
	position: absolute;
	top: 6px;
	left: 20px;
}

#zeega-items-thumbnails > li{
	overflow: hidden;
}
.zeega-item-thumbnail{
	position:relative;
}
/* 	
	zeega-collection

	for displaying a thumbnail on top of a stack of images.
	Code from CSS3Stacks here: http://inspectelement.com/demos/css3/stacks/
*/

.zeega-collection { position: relative; z-index: 1; padding:0;border:0;width:160px;height:120px;margin:4px;}
 

.zeega-collection img { max-width: 100%; height: auto; vertical-align: bottom; border: 10px solid #fff; border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
 
.zeega-collection:before, .zeega-collection:after { content: ""; border-radius: 3px; width: 100%; height: 100%; position: absolute; border: 10px solid #fff; left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}
.zeega-collection:before { top: 4px; z-index: -10; } /* 1st element in zeega-collection (behind image) */
.zeega-collection:after { top: 8px; z-index: -20; } /* 2nd element in zeega-collection (behind image) */


.zeega-collection.rotated-left:before {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.zeega-collection.rotated-left:after {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

/*******************************************************
	TAGS
*******************************************************/

.zeega-tags{
	text-align: left;
}
.zeega-tags .tagsinput{
	border:none !important;
	height:auto !important;
	width:auto !important;
	padding-left:0;

}
#zeega-tag-container a{
	color:gray !important;
	font-size:11px !important;
}
#zeega-tag-container .newtag{
	display:none;
}
#zeega-tag-container .tag, #zeega-tag-container .fancybox-remove-tag{
	border: 1px solid #CCC;
	background: #EFEFEF;
	margin: 0;
	padding: 2px 5px;
}
#zeega-tag-container .tag{
	
	margin-right:4px;
	margin-top:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
	border-radius: 4px;
	color: #777;
	font-size: 11px;
}
#zeega-tag-container .tagsinput input{
	padding:2px !important;
	font-size:11px !important;
	color:#F15A29 !important;
}
#zeega-tag-container .tag-hover-class{
	border-left:none;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}
.fancybox-remove-tag{
	display:none;
	margin:0;
	border-right:none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
}
.fancybox-remove-tag:hover{
	background-color:#666;
	
}

#zeega-tag-container .addtags{
	text-align: left;
	font-size:11px;
	display: inline;
	
}
/*******************************************************
	end TAGS
*******************************************************/

.bug-report
{
	padding:5px;
	width:400px;
}

.bug-report input,
.bug-report textarea
{
	width:390px;
}

.bug-submitted
{
	display:none;
}


.jda-collection-head .cover-image
{
	background: repeat;
	background-color: #ccc; 
	height:200px;
	position:relative;
	margin-bottom:10px;
}
.jda-collection-head .cover-overlay
{
	background-color:rgba(255,255,255,0.75);
	position:absolute;
	bottom:0;
	width:100%;
	padding:10px;
}
.jda-collection-head .cover-overlay h4
{
	font-weight:400;
}
.jda-collection-description
{
	margin:10px 0;
	font-weight:400;
	padding: 2px 0 0 2px;
}
.jda-collection-head .right-col
{
	font-size:10px;
	width:200px
}
.jda-collection-map,.jda-user-map
{
	width:200px;
	height:100px;
}
.jda-collection-map
{
	/*float:right;*/
}

.left-col{float:left;}
.right-col{float:right;}

.jda-collection-description
{
	min-height:20px;
}
.editing
{
	border: 1px solid #cccccc;
	background-color:#fcfcea;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;*/
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          
}

.drag-to
{
	padding: 10px;
	border:1px dashed #666;
	border-radius:10px;
	display: inline;
	position: absolute;
	margin-left: 45%;
	margin-top: 5%;
}
.modal{display:none;}

.jda-user-filter-description.editing
{
	overflow:auto;
	height:50px;
}

.meta-head{ font-weight:bold; }
