
#zeega-view-navigation{
	
	background-color: #444;
	padding:8px 10px;
	z-index:2;
	position: fixed;
	top: 40px;
	width:100%;


}
#zeega-view-buttons{
	width: 107px;
	float: left;
	margin-right: 31px;
}
#zeega-view-navigation li{
	padding:10px;
	float:left;
}
#zeega-view-navigation form{
	border:none;
	margin:0;
	background-color:transparent;

}
#zeega-search-help{
	position: relative;
	top: 3px;
	left: 5px;
	background-color:#000;
}

#zeega-main-content{
	position:relative;
	top:35px;
}
#zeega-list-view td{
	position:relative;
}
#zeega-my-collections{
	
	background-color: #ddd;
	width: 200px;
	text-align: center;
	border-radius: 4px;
	margin-bottom:30px;
}

#zeega-my-collections-items{
	clear:both;
	border: 1px solid #AAA;
	border-radius: 0 0 4px 4px;
	padding:2px;
}
.zeega-my-collections-items-dropping{
	background-color:#ffff99 !important;

}
#zeega-my-collections-items p:hover{
	border: 1px dotted #08C;
	background-color:#eee;
}

#zeega-my-collections p{
	
	color:#666;
	padding:14px;
	font-size:0.9em;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
.zeega-results-count{
	font-size: 18px;
	position: relative;
	top: 13px;
}
