.modal{
	display:none;
}
#zeega-view-navigation{
	
	background-color: #444;
	padding:8px 10px;
	z-index:2;
	position: fixed;
	top: 40px;
	width:100%;
}
#zeega-view-buttons{
	width: 108px;
	float: left;
	margin-right: 31px;
	margin-top: 5px;
}
#zeega-view-navigation li{
	padding:10px;
	float:left;
}
#zeega-view-navigation form{
	border:none;
	margin:0;
	background-color:transparent;
}
#zeega-search-help{
	position: relative;
	top: 10px;
	left: 5px;
	background-color:#000;
}

#zeega-main-content{
	position:relative;
	top:35px;
}
#zeega-main-content .span2{
	position: fixed;
	left: 1105px;
	top: 135px;
}
#zeega-list-view td{
	position:relative;
}
#zeega-my-collections{
	background-color: #ddd;
	width: 200px;
	text-align: center;
	border-radius: 4px;
	margin-bottom:30px;
}

#zeega-my-collections-items{
	clear:both;
	border: 1px solid #AAA;
	border-radius: 0 0 4px 4px;
	padding:2px;
}
.zeega-my-collections-items-dropping{
	background-color:#F0E68C !important;

}
#zeega-my-collections-items a.thumbnail{
	width: 120px;
	position: relative;
	left: 30px;
}
#zeega-my-collections-items p:hover{
	border: 1px dotted #08C;
	background-color:#eee;
}

#zeega-my-collections p{
	color:#666;
	padding:14px;
	font-size:0.9em;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
#zeega-my-collections-added{
	display:none;
	margin-bottom:10px;
}
#zeega-my-collections-share-and-organize{
	padding:10px;
}
.zeega-results-count{
	font-size: 18px;
	position: relative;
	top: 13px;
}

/* SEARCH RELATED STYLES */
#search-bar{
	
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	padding: 0 !important;
	float:left;
}

#search-bar h5
{
	line-height:18px;
	height:44px;
	color:rgba(255,255,255,0.85);
}
#search-bar select{
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	border: 0;
	background: transparent;
	width:154px;
	
}

#select-wrap {

	height: 36px;
	position: absolute;
	top: 10px;
	left: 730px;
	font-size: 1.2em;
	font-weight: bold;
	color: #999;
	width: 150px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	font-variant: small-caps;
	font-family:Arial,sans-serif;
}
#select-wrap-text{
	position: absolute;
	top: 6px;
	left: 20px;
}
