<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="robots" content="noindex,follow">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="{{ asset('js/lib/bootstrap-2.0.2/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ asset('js/lib/bootstrap-2.0.2/css/bootstrap-responsive.css')}}" rel="stylesheet">
	
	

</head>

{% set locale = app.session.locale  %}

{% set page = 'login'%}

<body>
	<div class="login-modal-header">
			<br>
			<h2 style="padding-top:20px;padding-bottom:15px;">
				{{app.user.displayName}}, {% trans %}jda.register.confirm{% endtrans %} 
			</h2>
			<a id="close-button" class="btn" href="#" onclick="javascript: parent.$('#user-modal').trigger('close');">Close</a>	
	</div>

	<script>
			
			parent.$("#user-displayname").html('<i class="zicon-user"></i>{{app.user.displayName}}<b class="caret"></b>');
			parent.$("#user-modal").trigger("authenticated");
			
	</script>
</body>

</html>