{# src/JDA/CoreBundle/Resources/views/Collection/collection.html.twig #}

{% extends 'JDACoreBundle:Search:search.html.twig' %}

{% block filter %}


	<script>
			sessionStorage.setItem('filterType','collection');
			sessionStorage.setItem('filterId', {{ filterId }});
	
	</script>
	
	    
		<div class="row-fluid">
			<div id="jda-collection-filter-new" class="span9"></div>
    </div>
    <div class="row-fluid">
      {% if userId != 0 %}
      <span>
        <a _target="blank" href="http://jdaeditor.herokuapp.com/#/{{ filterId }}/view">{% trans %}jda.presentation.view{% endtrans %}</a>
      </span>
      &nbsp;|&nbsp;
	  {% if userId == authorId %} 
      <span>
        <a _target="blank" href="http://jdaeditor.herokuapp.com/#{{ filterId }}">{% trans %}jda.presentation.edit{% endtrans %}</a>
      </span>
      {% endif %}
	  {% endif %}
    </div>

{% endblock %}
