<html>
	<head>
		<title>Batch Tags</title>
	</head>
	<body>
		<div>Instructions: Enter the User ID of the user whose items you would like to apply the tag specified to.</div>
		<form action="{{ path("batchtagged") }}" method="post">
			User ID:<input type="number" id="userid" name="userid"/><br>
			Tag: <input type="text" id="tag" name="tag"/>
			<input type="submit" id="submit" name="submit"/>
		</form>
	</body>
</html>
